.navbar,
.navbar-header a {
  z-index: 2;
}
.navbar-brand,
.navbar-brand:hover {
  color: white;
}
.navbar-nav a {
  color: white;
}

#jumbotronContainer {
  justify-content: center;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  border-left: 10px solid #21648e;
}

.parallax {
  background-image: url("../imgs/DSC02189web.jpg");
  height: 90vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
}
.parallaxCookies {
  background-image: url("../imgs/dsc02226.jpg");
  height: 90vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
}
.parallaxPizza {
  background-image: url("../imgs/DSC02230.jpg");
  height: 90vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.footer {
  justify-content: center;
}

.recipeCard {
  justify-content: center;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  border-left: 10px solid #21648e;
  width: 400px;
  margin-left: 150px;
  color: white;
}

.recipeItem {
  margin-top: 40px;
}
